.product-big-title-area {
    background:#5a88ca
}

.product-bit-title h2 {
    font-family: raleway;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;color: #fff;
}

.single-product-area .zigzag-bottom {background-color: #f4f4f4}

.single-product-area {
    padding: 0;
}

.product-breadcroumb {

    margin-bottom: 20px;
}

.product-breadcroumb > a {
    color: #fff;
    font-size: 18px;
    margin-right: 31px;
    position: relative;
}

.product-breadcroumb > a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px;
}

.product-breadcroumb > a:last-child::before {
    display: none;
}

.product-breadcroumb > disabled {
    font-size: 16px;
    pointer-events: none
}

.product-breadcroumb > disabled:hover {
    text-decoration: none;
}

.product-information {
    background: #f8f8f9;
    padding: 50px;
}

.product-main-img {
    margin-bottom: 20px;
}

.product-name {
    font-size: 25px;
    margin-bottom: 20px;
}
 
.product-inner-price {
    margin-bottom: 25px;
}

.product-inner-price > ins {
    color: #5a88ca;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.product-description {
    margin-bottom: 25px;
}

form.cart {
    margin-bottom: 25px;
    width: 100%;
    display: inline-flex;
}

.cart input {
    width: 75%;
    border: 1px solid #5a88ca;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.add_to_cart_button {
    width: 25%;
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    padding: 6px 25px;display: inline-block
}

.add_to_cart_button:hover {
    background-color: #222;
    color: #fff;
    text-decoration: none
}